* {
  font-family: 'Comic Sans MS', Cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  /**/
  --primary-color: #ff52df;
  --text-on-primary-color: #ffffff;
  --secondary-color: #ffffff;
  --text-on-secondary-color: #000000;
  /**//*
  --primary-color: #000000;
  --text-on-primary-color: #ffffff;
  --secondary-color: #ffffff;
  --text-on-secondary-color: #000000;
*/
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-on-secondary-color);
}
.page {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 220%;
}
.subtitle {
  font-style: italic;
  font-size: 120%;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  border-radius: 10px;
  padding: 20px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit {
  cursor: pointer;
  font-weight: bold;
  font-size: 120%;
  border-radius: 100px;
  background-color: var(--text-on-primary-color);
  color: var(--primary-color);
  width: 90%;
}
.inputs {
  display: flex;
  justify-content: space-around;
}
.name-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name-input--input {
  background-color: #fafafa;
  padding: 5px;
  width: 90%;
}
.name-input--label {
  text-align: center;
  width: 100%;
}
.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.output--image {
  width: 100px;
  height: 100px;
}
.output--names {
  font-size: 130%;
  font-style: italic;
}
.output--percent {
  font-size: 380%;
  font-weight: bold;
}
@media not screen and (prefers-reduced-motion) {
  .output--percent {
    animation: wobble 1s infinite;
  }
}
@keyframes wobble {
  0%  { transform:  rotate(0deg); }
  20%  { transform:  rotate(10deg); }
  50%  { transform:  rotate(-10deg); }
  100%  { transform:  rotate(0deg); }
}
