/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nunito-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('fonts/nunito-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-v14-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
* {
  font-family: Nunito;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
.page {
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
}
.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
}
.inputs {
  display: flex;
  justify-content: space-around;
}
.name-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name-input--input {
  background-color: #cfcfcf;
  width: 90%;
}
.name-input--label {
  text-align: center;
  width: 100%;
}
